<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">
  
            <div class="col-lg-6 col-12">
              <h2 class="mb-4">Experiences</h2>
  
                <div class="timeline">
                    <div class="timeline-wrapper">
                         <div class="timeline-yr">
                              <span></span>
                         </div>
                         <div class="timeline-info">
                              <h3><span></span><small></small></h3>
                              <p></p>
                         </div>
                    </div>
  
                    <!-- <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span></span><small></small></h3>
                            <p></p>
                        </div>
                    </div>
  
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span></span></h3>
                            <p></p>
                        </div>
                    </div>
                    
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span><small></small></span></h3>
                            <p></p>
                        </div>
                    </div> -->
  
                </div>
            </div>
  
            <div class="col-lg-6 col-12">
              <h2 class="mb-4 mobile-mt-2">Educations</h2>
  
                <div class="timeline">
                    <div class="timeline-wrapper">
                         <div class="timeline-yr">
                              <span>2021</span>
                         </div>
                         <div class="timeline-info">
                              <h3><span>Baccalanreat</span><small>Route De Gabes</small></h3>
                              <p>Information technology science.</p>
                              <ul>
                                <li>Algorithm.</li>
                                <li>Information and communication technologies.</li>
                                <li>DataBase(SQL).</li>
                              </ul>
                         </div>
                    </div>
  
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2022</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>University First Year</span><small>ISG</small></h3>
                            <!-- <p></p> -->
                            <ul>
                              <li>Algorithm.</li>
                              <li>Collaborative Working.</li>
                              <li>Business Communication.</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2023</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>University Second Year</span><small></small></h3>
                            <!-- <p>.</p> -->
                            <ul>
                              <li>Web Programming.</li>
                              <li>DBMS and DB administration.</li>
                              <li>IT system security.</li>
                              <li>Problem Solving.</li>
                            </ul>
                        </div>
                    </div>
  
                    <div class="timeline-wrapper">
                      <div class="timeline-yr">
                          <span>2024</span>
                      </div>
                      <div class="timeline-info">
                          <h3><span>University Third Year</span><small></small></h3>
                          <!-- <p>.</p> -->
                          <ul>
                            <li>Mobile Development.</li>
                            <li>Professional Networking Service.</li>
                            <li>IT Project System Management.</li>
                            <li>Business Intelligence.</li>
                          </ul>
                      </div>
                  </div>
  
                </div>
            </div>
            
        </div>
    </div>
  </section>